@import "tailwindcss";
@plugin 'tailwindcss-animate';

@theme {
	--animate-marquee-left: marquee-left var(--duration, 40s) linear infinite;
	--animate-marquee-up: marquee-up var(--duration, 40s) linear infinite;

	@keyframes marquee-left {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - var(--gap)));
		}
	}

	@keyframes marquee-up {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(calc(-100% - var(--gap)));
		}
	}
}
